.top-white-bar {
    height: 4px;
    width: 172px;
    background-color: white;

    /* Place to top and middle */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}