$primary: #410606;
$background1: #F8CCCC;

body {
  margin: 0;
  
}

nav {
  background-color: $primary;
  height: 60px;
  display: flex;
  align-items: center;
  
  & span {
    margin-left: 40px;
    color: white;
    font-size: large;
  }
}

main {
  height: 500px;
  background-color: $background1;
  display: flex;
  align-items: center;
  justify-content: space-around;

  address {
    font-style: normal;
  }
}
