@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');

html {
    font-family: 'Ropa sans', sans-serif;
    color: white;
}

html * {
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    width: 42px;
}

.cloudy-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url('./images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.cloudy-background::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #13619A 0%, rgba(19, 97, 154, 0.25) 47.4%, rgba(255, 255, 255, 0) 100%);
}

//  Header

h1 {
    font-weight: normal;
    font-size: 53px;
    line-height: 57px;
    letter-spacing: 0.02em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 19px;
    line-height: 98.9%;
    letter-spacing: 0.06em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.top-white-bar {
    height: 4px;
    width: 172px;
    background-color: white;

    /* Place to top and middle */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
